## Netflix Analysis

In [2]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

Load required datasets

In [7]:
greenBonds_df = pd.read_csv('https://raw.githubusercontent.com/ahmedmeshref/Data-Analysis/main/Green_Bonds_2008.csv?token=AISYY23PNZRLCB6S674YVCLAJS73M')

In [8]:
fxRates_df = pd.read_csv('https://raw.githubusercontent.com/ahmedmeshref/Data-Analysis/main/ECB_FX_USD.csv?token=AISYY2ZYWMP52JZA3FM5O7LAJS76G')

In [9]:
greenBonds_df.shape

(115, 10)

In [10]:
greenBonds_df.head()

,Type,Maturity,Currency,Volume,Coupon,Settlement Date,Maturity Date,USD Equivalent,ISIN,Final Terms
0,Green,5,INR,80000000,0.04500,04/05/2018 12:00:00 AM,03/24/2023 12:00:00 AM,1230000,XS1801822419,NaN
1,Green,5,INR,80000000,0.04050,11/28/2017 12:00:00 AM,11/28/2022 12:00:00 AM,1230000,XS1724511958,NaN
2,Green,5,INR,1608700000,0.05000,09/27/2017 12:00:00 AM,NaN,25100000,XS1687324068,http://pubdocs.worldbank.org/en/20621154455317...
3,Green,3,MYR,65000000,0.02950,03/13/2017 12:00:00 AM,03/13/2020 12:00:00 AM,14620000,XS1576723552,http://pubdocs.worldbank.org/en/30221154455317...
4,Green,3,USD,100000000,0.01181,11/14/2016 12:00:00 AM,12/15/2019 12:00:00 AM,100000000,XS1517268105,NaN

In [11]:
fxRates_df.head()

,Date,EUR,JPY,BGN,CZK,DKK,GBP,HUF,PLN,RON,...,ILS,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR
0,#date,#value+eur,#value+jpy,#value+bgn,#value+czk,#value+dkk,#value+gbp,#value+huf,#value+pln,#value+ron,...,#value+ils,#value+inr,#value+krw,#value+mxn,#value+myr,#value+nzd,#value+php,#value+sgd,#value+thb,#value+zar
1,2020-05-07,1.0783,0.009383865633974415,0.5513344922793741,0.03970469106708888,0.14453454862274648,1.2326527812707195,0.0030865010304556902,0.23716101788110056,0.2235513631180678,...,0.28465457617275153,0.013187229801207066,0.0008167825599539457,0.04136536786904867,0.23124101992236926,0.6051066217732884,0.01978641026111529,0.7046330784813436,0.03083588321084389,0.053727491056213814
2,2020-05-06,1.0807,0.009426079372001744,0.5525616116167297,0.04004520695149517,0.1448310059235037,1.2385820544852326,0.003091335564518436,0.23807111071947837,0.22405821740302284,...,0.2850398269768423,0.013182242335160983,0.0008165593737721764,0.04148799355049235,0.23134887504549057,0.6058075004204272,0.019785792749908458,0.7047277469840234,0.030873614444063537,0.0538725741888207
3,2020-05-05,1.0843,0.009370840895341804,0.5544022906227631,0.04019200830306175,0.14532514876963493,1.2454628991500114,0.0030956119564907072,0.23927531114838027,0.22467882304185663,...,0.2839001911345011,0.013200070608143067,0.0008184569862848258,0.041889124975854744,0.23231349359386383,0.6054159687325517,0.01976377522191641,0.7059704407839053,0.03086887206058191,0.05448250911977811
4,2020-05-04,1.0942,0.00936494351249572,0.5594641578893548,0.04034809543124747,0.14663236042990002,1.244851987531002,0.0030973476377841314,0.23959884382937727,0.22622394971882237,...,0.28361110391125166,0.013217050986265959,0.0008165671641791045,0.04069745817556963,0.2316944056240207,0.6050987114969861,0.01975839217031727,0.7061632784769281,0.030912224199790946,0.053657244855926725